@import "tailwindcss";
@plugin "daisyui";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-montserrat: Montserrat;
}

.text-input {
  @apply w-full border text-gray-800 dark:text-gray-100 border-gray-300 dark:border-gray-500 rounded-md px-4 pt-6 pb-2 bg-gray-100 dark:bg-gray-700/50 placeholder-transparent focus:outline-none focus:ring-2 focus:ring-sky-500 dark:focus:ring-violet-500 focus:border-transparent transition duration-300 ease-in-out select-none;
}

.text-input-placeholder {
  @apply absolute left-4 top-2 text-gray-500 text-sm peer-placeholder-shown:top-3.5 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 dark:peer-placeholder-shown:text-gray-500 peer-focus:top-2 peer-focus:text-sm peer-focus:text-sky-600 dark:peer-focus:text-violet-500 transition-all ease-out duration-300 select-none;
}

.btn-active {
  @apply border-none dark:border-violet-500/50 border-1 bg-gradient-to-r from-blue-400 to-blue-500 dark:from-violet-600 dark:to-violet-500 text-white;
}

.link-active {
  @apply border-none dark:border-violet-500/50 border-1 bg-gradient-to-r from-blue-400 to-blue-500 dark:from-violet-600 dark:to-violet-500 text-white shadow-md shadow-blue-300/50 dark:shadow-violet-500/50;
}

.link-inactive-primary {
  @apply hover:dark:bg-violet-500 hover:bg-blue-300 hover:text-white transition duration-200 ease-in;
}

.link-inactive-secondary {
  @apply hover:text-blue-500 dark:hover:text-violet-600 transition ease-in hover:ease-out duration-200;
}

.tile {
  @apply px-3 py-4 w-full rounded-xl shadow-md dark:shadow-lg bg-white dark:bg-[#171131ef];
}

.is-invalid {
  @apply border-red-500 dark:border-red-500/50 ring-red-500/50 dark:ring-red-500;
}

.info-label {
  @apply text-sm m-2 select-none;
}

.info-content {
  @apply bg-gray-200 py-2 px-3 rounded-md border border-gray-300 dark:bg-[#231f39] dark:border-gray-700;
}

.t-base thead tr th,
.t-base tbody tr td,
.t-base tbody tr th {
  @apply text-center p-3 border border-gray-300 dark:border-[#32237cef] select-none;
}
